body {
    background-image: linear-gradient(
        rgb(20, 20, 20),
        rgb(99, 98, 98)
    );
    height: 1000px;
    
}
h1 {
    color: aliceblue;
}
h2 {
    color: aliceblue;
}
h3 {
    color: aliceblue;
}
h4 {
    color: aliceblue;
}
p {
    color: aliceblue;
}
mark {
    color: black;
}